

<!--not connected, this would be a background option for team and draft pages-->
<div class="bg-image" style="background-image: url('https://res.cloudinary.com/actionfdfds/image/upload/v1620946028/poke2_vjsbyb.png');">
</div>

