
<!-- Slick Slider CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- jQuery first, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Slick Slider JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<div class="row">
  <div class="container">
    <section class="logo-carousel slider" data-arrows="true">
<div id="new-england-gyrados" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709925/new-england-gyrados_wqdtrb.png"></div>
<div id="baltimore-fearow" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709925/baltimore-fearow_l3qafo.png"></div>
<div id="indianapolis-dratini" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709925/indianapolis-dratini_sclaun.png"></div>
<div id="kansas-city-geodudes" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709925/kansas-city-geodues_lw3e5k.png"></div>
<div id="carolina-golbats" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709925/carolina-golbats_kqmg5x.png"></div>
<div id="miami-seakings" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709925/miami-seakings_kdzkv2.png"></div>
<div id="arizona-pidgeys" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/arizona-pidgeys_ys83uh.png"></div>
<div id="atlanta-pidgeots" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/atlanta-pidgeots_yxmxic.png"></div>
<div id="detroit-meowths" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/detroit-meowths_fwatgh.png"></div>
<div id="tampa-bay-cubones" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/tampa-bay-cubone_uhpelk.png"></div>
<div id="tennessee-ninetales" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/tennessee-ninetales_jrmfwh.png"></div>
<div id="denver-rapidash" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/denver-rapidash_vovl0z.png"></div>
<div id="dallas-staryu" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/dallas-staryu_rxxcgc.png"></div>
<div id="pittsburgh-eevees" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/pittsburgh-eevees_vro6sy.png"></div>
<div id="cleveland-digletts" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/cleveland-digletts_anorjk.png"></div>
<div id="san-francisco-voltorbs" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/san-francisco-voltorbs_wgstzw.png"></div>
<div id="new-york-zapados" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709926/new-york-zapados_rhkqhq.png"></div>
<div id="new-york-arboks" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709927/new-york-arboks_whtbgz.png"></div>
<div id="chicago-venusaurs" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709927/chicago-venusaurs_xcgmeb.png"></div>
<div id="new-orleans-jynx" class="slide"><img src="https://res.cloudinary.com/actionfdfds/image/upload/v1620709927/new-orleans-jynx_fnroto.png"></div>

    </section>
  </div>
</div>

