<div class="input-group mb-3">

  <div class="text-center">
    <h1 id="random-name"></h1>
     <div class="d-inline-flex p-2 bd-highlight">
        <p>Pick a name, pick a logo.<br>
   When it comes to team names, we've got you covered. 

      Press "Generate New Name" for more options.</p>
    </div>
    <button id="pokeTeamNaming" class="btn btn-dark mt-4 p-2">Generate New Name</button>
    </div>
  </div>

</div>

