
<div class="card">
    <h1 class="text-center"id="random-name"></h1>
        
      <p class="text-center">Press "Generate New Name" for more options.</p>
    <button id="pokeTeamNaming" class="btn btn-dark mt-4 p-2">Generate New Name</button>
    <div>
 
