


<div class="card card-team">
  <h1 class="text-center" id="random-name"></h1>
  <p class="text-center">Press the button below for options.</p>
  <button id="pokeTeamNaming" class="btn btn-dark mt-4 p-2">Generate Team Name</button>

  <!--note card closes in newteam HBS, may want to adjust-->