 
<div class="container d-flex">
 <div class="row justify-content-center">
        <div id="draft-button" class="col-12 col-lg-6">
  <!-- Save and Clear Functions -->
    <button id="draft-team" type="button" class="btn-block mt-4 p-2 btn-danger mb-4 p-2">Save Draft</button>
    <button id="draft-clear" type="button" class="btn-block mt-4 p-2 btn btn-dark mb-4 p-2">Clear Selection</button>
</div>
  <!-- Cards Display Here -->
{{> pokemon-display}}
</div>
<script src="/javascript/draft-page.js"></script>
